.footer__list-item {
  margin-left: 18px;
}

.footer__list-item:first-child {
  margin-left: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__list-item {
    margin-top: 32px;
    margin-left: 0;
  }
  .footer__list-item:first-child {
    margin-top: 0;
  }
  .footer__list-item:last-child {
    margin-bottom: 42px;
  }
}
